<p>Please Log in </p>

<mat-card>
  <form class = "login" name = "login" #loginForm="ngForm" >
    <mat-form-field>
      <input matInput type ="text" ngModel name="enteredUserName"
      placeholder ="User Name"
      required
      minlength="8"
      pattern ="^[a-zA-Z0-9\s_-]+$"
      #enteredUserName ="ngModel"/>
      <mat-error *ngIf="enteredUserName.invalid">{{enteredUserNameError}}</mat-error>
    </mat-form-field >
    <br>
    <mat-form-field>
      <input matInput type ="email" pattern ="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
      ngModel name ="enteredEmail"
      placeholder="Email Adrress" required
      #enteredEmail ="ngModel"/>
      <mat-error *ngIf="enteredEmail.invalid">{{enteredEmailError}}</mat-error>
    </mat-form-field>
    <br>

    <mat-form-field>
      <input matInput type ="password" pattern ="^([a-zA-Z0-9@*#]{8,15})$"
      ngModel name ="enteredPassword"
      placeholder="Password" required
      #enteredPassword ="ngModel"/>
      <mat-error *ngIf="enteredPassword.invalid">{{enteredPasswordError}}</mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button type = "submit" color="primary">Login</button>
  </form>
</mat-card>
<hr>
