<p>Create your order here please</p>
<mat-card>
<form class = "login" name = 'login' (submit)="onAddOrder(postOrder)" #postOrder="ngForm">
<mat-form-field>
  <input matInput type = "text" ngModel name="enteredUserName"
  placeholder="User Name"
  required
  minlength="8"
  pattern="^[a-zA-Z0-9\s_-]+$"
  #enteredUsername = "ngModel"/>
  <mat-error *ngIf="enteredUsername.invalid">{{enteredUserNameError}}</mat-error>
</mat-form-field>
  <br>
<mat-form-field>
  <input matInput type = "email" pattern = "^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
  ngModel name= "enteredEmail"
  placeholder="Email"
  required
  #enteredEmail = "ngModel"/>
  <mat-error *ngIf="enteredEmail.invalid">{{enteredEmailError}}</mat-error>
</mat-form-field>
  <br>
<mat-form-field>
  <textarea matInput ngModel name= "enteredOrder"
  required
  maxlength="100"
  #enteredOrder = "ngModel"></textarea>
  <mat-error *ngIf="enteredOrder.invalid">{{enteredOrderError}}</mat-error>
</mat-form-field>
<br>
<button mat-raised-button type = "submit">ORDER NOW</button>
</form>
</mat-card>
<hr>
