<main>
<div style="text-align: center">
  <h1>
    Order System Inc
  </h1>
<nav>
  <button mat-buttuon color="primary" [routerLink]="['/create']"
  routerLinkActive="router-link-active">Create Order</button>
  <button mat-buttuon color="primary" [routerLink]="['/create']"
  routerLinkActive="router-link-active">Edit Order</button>
  <button mat-buttuon color="primary" [routerLink]="['/']"
  routerLinkActive="router-link-active">List Order</button>
  <button mat-buttuon color="primary" [routerLink]="['/login']"
  routerLinkActive="router-link-active">Login</button>
  <button mat-buttuon color="primary" [routerLink]="['/signup']"
  routerLinkActive="router-link-active">Sign Up</button>
</nav>
<br>
<router-outlet></router-outlet>
</div>
</main>



