<mat-accordion multi ="true" *ngIf= "orders.length > 0">
  <mat-expansion-panel *ngFor= "let order of orders">
    <mat-expansion-panel-header aria-placeholder="User Name">
      {{order.userName}}

    </mat-expansion-panel-header>
    {{order.Email}}

    <br>
    {{order.PlacedOrder}}

    <mat-action-row>
      <button matt-button color="primary">Edit</button>
      <button matt-button color="warn" (click)="onDelete(order.id)" >Delete</button>
    </mat-action-row>

  </mat-expansion-panel>



</mat-accordion>
<p *ngIf="orders.length == 0"> NO ORDERS PLACED YET </p>
<p *ngIf="orders.length > 0"> There are {{orders.length}} orders! </p>
